<div class="card w-100 overflow-hidden">
    <div class="card-body pb-8">
        <div class="d-md-flex no-block align-items-center">
            <h4 class="card-title mb-0">Projects of the Month</h4>
            <div class="ms-auto">
                <select class="form-select">
                    <option selected>November</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table stylish-table align-middle text-nowrap">
            <thead>
                <tr>
                    <th class="border-bottom fs-3 ps-4">
                        Assigned
                    </th>
                    <th class="border-bottom fs-3">
                        Name
                    </th>
                    <th class="border-bottom fs-3">
                        Posts
                    </th>
                    <th class="border-bottom fs-3 pe-4">
                        Budget
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="hstack gap-3">
                            <span
                                class="round-48 rounded-circle overflow-hidden bg-danger-subtle flex-shrink-0 hstack justify-content-center">
                                <h6 class="mb-0 fw-medium text-danger fs-4">S</h6>
                            </span>
                            <div>
                                <h6 class="mb-0 fw-medium fs-4">Sunil Joshi</h6>
                                <p class="mb-0 fs-3 text-body">Web Designer</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">Elite Admin</p>
                    </td>
                    <td><span class="badge bg-danger-subtle text-danger">Low</span>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">$2.4K</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="hstack gap-3">
                            <span
                                class="round-48 rounded-circle overflow-hidden bg-warning-subtle flex-shrink-0 hstack justify-content-center">
                                <h6 class="mb-0 fw-medium text-warning fs-4">A</h6>
                            </span>
                            <div>
                                <h6 class="mb-0 fw-medium fs-4">Andrew</h6>
                                <p class="mb-0 fs-3 text-body">Project Manager</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">Real Homes</p>
                    </td>
                    <td><span class="badge bg-warning-subtle text-warning">Medium</span>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">$23.5K</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="hstack gap-3">
                            <span
                                class="round-48 rounded-circle overflow-hidden bg-info-subtle flex-shrink-0 hstack justify-content-center">
                                <h6 class="mb-0 fw-medium text-info fs-4">N</h6>
                            </span>
                            <div>
                                <h6 class="mb-0 fw-medium fs-4">Nirav Joshi</h6>
                                <p class="mb-0 fs-3 text-body">Frontend Eng</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">MedicalPro Theme</p>
                    </td>
                    <td><span class="badge bg-success-subtle text-success">High</span>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">$10.3K</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="hstack gap-3">
                            <span
                                class="round-48 rounded-circle overflow-hidden bg-danger-subtle flex-shrink-0 hstack justify-content-center">
                                <img src="assets/images/users/user7.jpg" alt="" class="img-fluid">
                            </span>
                            <div>
                                <h6 class="mb-0 fw-medium fs-4">Johnathan</h6>
                                <p class="mb-0 fs-3 text-body">Content Writter</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">Helping Hands</p>
                    </td>
                    <td><span class="badge bg-danger-subtle text-danger">Low</span>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">$2.6K</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="hstack gap-3">
                            <span
                                class="round-48 rounded-circle overflow-hidden bg-secondary-subtle flex-shrink-0 hstack justify-content-center">
                                <h6 class="mb-0 fw-medium text-secondary fs-4">M</h6>
                            </span>
                            <div>
                                <h6 class="mb-0 fw-medium fs-4">Michael Doe</h6>
                                <p class="mb-0 fs-3 text-body">Graphic Designer</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0 fs-3 text-body">Digital Agency</p>
                    </td>
                    <td><span class="badge bg-secondary-subtle text-secondary">Very
                            High</span></td>
                    <td>
                        <p class="mb-0 fs-3 text-body">$12.4K</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>