<div class="card">
    <div class="card-body border-bottom">
        <h4 class="card-title">Customer Support</h4>
        <p class="card-subtitle">24 new support ticket request generate</p>
    </div>
    <div class="card-body p-0">
        <ng-scrollbar class="chat-box w-100 scrollable" style="height: 440px">
            <!--chat Row -->
            <ul class="chat-list m-0 p-0">
                <!--chat Row -->
                <li class="p-4 border-bottom">
                    <div class="chat-img d-inline-block align-top">
                        <img src="assets/images/users/user2.jpg" alt="user" class="rounded-circle" />
                    </div>
                    <div class="chat-content ps-6 d-inline-block">
                        <h6 class="text-muted text-nowrap fw-medium">James Anderson</h6>
                        <div class="box d-inline-block message fs-3 bg-secondary-subtle">
                            <h6 class="mb-2 fw-medium">It’s Great opportunity to work. I
                                would
                                loveto join the team. 🎉
                            </h6>
                            <h6 class="chat-time text-end mb-0 fw-medium d-block w-100">
                                10:56 am
                            </h6>
                        </div>
                    </div>
                </li>
                <!--chat Row -->
                <li class="p-4 border-bottom">
                    <div class="chat-img d-inline-block align-top">
                        <img src="assets/images/users/user3.jpg" alt="user" class="rounded-circle" />
                    </div>
                    <div class="chat-content ps-6 d-inline-block">
                        <h6 class="text-muted text-nowrap fw-medium">Hritik Roshan</h6>
                        <div class="box d-inline-block message fs-3 bg-warning-subtle">
                            <h6 class="mb-2 fw-medium">Sed sed eros quis libero 😆Well we
                                have
                                good budget for the project
                            </h6>
                            <h6 class="chat-time text-end mb-0 fw-medium d-block w-100">
                                10:56 am
                            </h6>
                        </div>
                    </div>
                </li>
                <!--chat Row -->
                <li class="p-4 border-bottom text-end">
                    <div class="chat-content ps-6 d-inline-block">
                        <div class="box d-inline-block message fs-3 bg-info-subtle">
                            <h6 class="mb-2 fw-medium">Whats budget of the new project.
                                Looking forward to hear back</h6>
                            <h6 class="chat-time text-end mb-0 fw-medium d-block w-100">
                                10:58 am
                            </h6>
                        </div>
                    </div>
                </li>
                <!--chat Row -->
                <li class="p-4">
                    <div class="chat-img d-inline-block align-top">
                        <img src="assets/images/users/user4.jpg" alt="user" class="rounded-circle" />
                    </div>
                    <div class="chat-content ps-6 d-inline-block">
                        <h6 class="text-muted text-nowrap fw-medium">Sonu Nigam</h6>
                        <div class="box d-inline-block message fs-3 bg-success-subtle">
                            <h6 class="mb-2 fw-medium">Sed sed eros quis libero Well we have
                                good budget for the project
                            </h6>
                            <h6 class="chat-time text-end m-0 fw-medium d-block w-100">
                                11:00 am
                            </h6>
                        </div>
                    </div>
                </li>
                <!--chat Row -->
            </ul>
        </ng-scrollbar>
    </div>
    <div class="card-body border-top">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-2 w-85">
                <a class="position-relative d-flex" href="javascript:void(0)"> <i class="ti ti-clip fs-6"></i></a>
                <input type="text" class="bg-transparent form-control fw-medium text-muted border-0 p-0 shadow-none"
                    placeholder="Write a message">
            </div>
            <ul class="list-unstyled mb-0 d-flex align-items-center gap-6">
                <li><a class="fs-6" href="javascript:void(0)"><i class="ti ti-face-smile"></i></a></li>
                <li><a class="fs-6" href="javascript:void(0)"><i class="ti ti-microphone"></i></a></li>
            </ul>
        </div>
    </div>
</div>