<!-- Row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Unique Visit</h4>
                <apx-chart [series]="uniquevisitChartOptions.series" [chart]="uniquevisitChartOptions.chart"
                    [xaxis]="uniquevisitChartOptions.xaxis" [yaxis]="uniquevisitChartOptions.yaxis"
                    [grid]="uniquevisitChartOptions.grid" [stroke]="uniquevisitChartOptions.stroke"
                    [tooltip]="uniquevisitChartOptions.tooltip" [fill]="uniquevisitChartOptions.fill"
                    [dataLabels]="uniquevisitChartOptions.dataLabels" [legend]="uniquevisitChartOptions.legend"
                    [colors]="uniquevisitChartOptions.colors" [markers]="uniquevisitChartOptions.markers"
                    [plotOptions]="uniquevisitChartOptions.plotOptions" [states]="uniquevisitChartOptions.states">
                </apx-chart>
            </div>
            <div class="p-2 text-center border-top">
                <h4 class="fw-medium mb-0">
                    <i class="ti ti-angle-up text-success"></i> 12456
                </h4>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Total Visit</h4>
                <apx-chart [series]="totalvisitChartOptions.series" [chart]="totalvisitChartOptions.chart"
                    [xaxis]="totalvisitChartOptions.xaxis" [yaxis]="totalvisitChartOptions.yaxis"
                    [grid]="totalvisitChartOptions.grid" [stroke]="totalvisitChartOptions.stroke"
                    [tooltip]="totalvisitChartOptions.tooltip" [fill]="totalvisitChartOptions.fill"
                    [dataLabels]="totalvisitChartOptions.dataLabels" [legend]="totalvisitChartOptions.legend"
                    [colors]="totalvisitChartOptions.colors" [markers]="totalvisitChartOptions.markers"
                    [plotOptions]="totalvisitChartOptions.plotOptions" [states]="totalvisitChartOptions.states">
                </apx-chart>
            </div>
            <div class="p-2 text-center border-top">
                <h4 class="fw-medium mb-0">
                    <i class="ti ti-angle-down text-secondary"></i> 456
                </h4>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Bounce rate</h4>
                <apx-chart [series]="bouncerateChartOptions.series" [chart]="bouncerateChartOptions.chart"
                    [xaxis]="bouncerateChartOptions.xaxis" [yaxis]="bouncerateChartOptions.yaxis"
                    [grid]="bouncerateChartOptions.grid" [stroke]="bouncerateChartOptions.stroke"
                    [tooltip]="bouncerateChartOptions.tooltip" [fill]="bouncerateChartOptions.fill"
                    [dataLabels]="bouncerateChartOptions.dataLabels" [legend]="bouncerateChartOptions.legend"
                    [colors]="bouncerateChartOptions.colors" [markers]="bouncerateChartOptions.markers"
                    [plotOptions]="bouncerateChartOptions.plotOptions" [states]="bouncerateChartOptions.states">
                </apx-chart>
            </div>
            <div class="p-2 text-center border-top">
                <h4 class="fw-medium mb-0">
                    <i class="ti ti-angle-up text-primary"></i> 12456
                </h4>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Page Views</h4>
                <apx-chart [series]="pageviewsChartOptions.series" [chart]="pageviewsChartOptions.chart"
                    [xaxis]="pageviewsChartOptions.xaxis" [yaxis]="pageviewsChartOptions.yaxis"
                    [grid]="pageviewsChartOptions.grid" [stroke]="pageviewsChartOptions.stroke"
                    [tooltip]="pageviewsChartOptions.tooltip" [fill]="pageviewsChartOptions.fill"
                    [dataLabels]="pageviewsChartOptions.dataLabels" [legend]="pageviewsChartOptions.legend"
                    [colors]="pageviewsChartOptions.colors" [markers]="pageviewsChartOptions.markers"
                    [plotOptions]="pageviewsChartOptions.plotOptions" [states]="pageviewsChartOptions.states">
                </apx-chart>
            </div>
            <div class="p-2 text-center border-top">
                <h4 class="fw-medium mb-0">
                    <i class="ti ti-angle-down text-danger"></i> 456
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Row -->