<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row">
            <div>
                <img src="assets/images/users/user1.jpg" alt="user" class="rounded-circle" width="96">
            </div>
            <div class="ps-9">
                <h3 class="fs-6 mb-0">Markarn_lakhan</h3>
                <h6 class="text-muted fw-normal">Designer</h6>
                <button class="btn bg-success-subtle text-success mt-2">
                    Follow
                </button>
            </div>
        </div>
        <div class="row mt-4 pt-3 pb-0">
            <div class="col text-center border-end">
                <h2>14</h2>
                <h6 class="text-muted fw-medium mb-0">Photos</h6>
            </div>
            <div class="col text-center border-end">
                <h2>54</h2>
                <h6 class="text-muted fw-medium mb-0">Videos</h6>
            </div>
            <div class="col text-center">
                <h2>145</h2>
                <h6 class="text-muted fw-medium mb-0">Tasks</h6>
            </div>
        </div>
    </div>
    <div class="card-body border-top">
        <ng-scrollbar class="scrollable mb-4" style="height: 65px;">
            <p class="text-center text-muted mb-9 fs-3 aboutscroll">
                Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit
                tempor. Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing
                elit tempor.
            </p>
        </ng-scrollbar>
        <ul class="list-unstyled hstack justify-content-center gap-9 mb-0">
            <li>
                <a href="javascript:void(0)" class="text-muted link-primary">
                    <i class="fa fa-globe fs-4"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-muted link-primary">
                    <i class="fab fa-twitter fs-4"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-muted link-primary">
                    <i class="fab fa-facebook-square fs-4"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-muted link-primary">
                    <i class="fab fa-youtube fs-4"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="text-muted link-primary">
                    <i class="fab fa-linkedin-in fs-4"></i>
                </a>
            </li>
        </ul>
    </div>
</div>