<div class="row">
  <!-- chart component -->
  <div class="col-lg-7">
    <app-discover-updates></app-discover-updates>
      <div class="row">
        <div class="col-md-6">
          <app-current-weather></app-current-weather>
        </div>
        <div class="col-md-6">
          <app-health-care></app-health-care>
        </div>
      </div>
  </div>
  <!-- other chart component -->
  <div class="col-lg-5">
    <div class="row">
      <div class="col-md-6">
        <app-total-profit></app-total-profit>
      </div>
      <div class="col-md-6">
        <app-total-profit-two></app-total-profit-two>
      </div>
      <div class="col-md-6">
        <app-coverage></app-coverage>
      </div>
      <div class="col-md-6">
        <app-pending-tasks></app-pending-tasks>
      </div>
    </div>
  </div>
</div>

<!-- Row -->
<div class="row">
  <div class="col-lg-4">
    <app-profile-box></app-profile-box>
  </div>
  <div class="col-lg-8">
    <app-prod-calculation style="min-height: 300px;"></app-prod-calculation>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <app-recent-chat></app-recent-chat>
  </div>
  <div class="col-lg-6">
    <app-to-do></app-to-do>
  </div>
</div>
<!-- Row -->

<app-widget></app-widget>

<div class="row">
  <div class="col-lg-8">
    <app-proect-of-month></app-proect-of-month>
  </div>
  <div class="col-lg-4">
    <app-weather-report></app-weather-report>
  </div>
</div>