<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-7">Feeds</h4>
        <ul class="feeds list-unstyled">
            <div class="feed-item mb-9">
                <div class="
            border-start border-2 border-info
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-info-subtle
                text-info
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              "><i class="ti ti-bell fs-6"></i></a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">You have 4 pending tasks.</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">Just Now</span>
                    </div>
                </div>
            </div>
            <div class="feed-item mb-9">
                <div class="
            border-start border-2 border-success
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-success-subtle
                text-success
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              "><i class="ti ti-server fs-6"></i></a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">Server #1 overloaded</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">2 Hours ago</span>
                    </div>
                </div>
            </div>
            <div class="feed-item mb-9">
                <div class="
            border-start border-2 border-danger
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-danger-subtle
                text-danger
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              "><i class="ti ti-shopping-cart fs-6"></i></a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">New order received.</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">31 May</span>
                    </div>
                </div>
            </div>
            <div class="feed-item mb-9">
                <div class="
            border-start border-2 border-secondary
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-secondary-subtle
                text-secondary
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              "><i class="ti ti-user fs-6"></i></a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">New user registered.</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">30 May</span>
                    </div>
                </div>
            </div>
            <div class="feed-item mb-9">
                <div class="
            border-start border-2 border-success
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-success-subtle
                text-success
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              ">
                            <i class="ti ti-user fs-6"></i>
                        </a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">New Version just arrived.</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">27 May</span>
                    </div>
                </div>
            </div>
            <div class="feed-item mb-9">
                <div class="
            border-start border-2 border-warning
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-warning-subtle
                text-warning
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              "><i class="ti ti-bell fs-6"></i></a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">You have 4 pending tasks.</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">Just Now</span>
                    </div>
                </div>
            </div>
            <div class="feed-item">
                <div class="
            border-start border-2 border-secondary
            d-md-flex
            align-items-center
          ">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" class="
                ms-9
                btn bg-secondary-subtle
                text-secondary
                round-48
                rounded-circle
                fs-5
                d-flex
                align-items-center
                justify-content-center
                flex-shrink-0
              "><i class="ti ti-server fs-6"></i></a>
                        <div class="ms-3 text-truncate">
                            <h5 class="fw-medium mb-0">Server #1 overloaded</h5>
                        </div>
                    </div>
                    <div class="
              justify-content-end
              text-truncate
              ms-5 ms-md-auto
              ps-4 ps-md-0
            ">
                        <span class="fs-2 text-muted">2 Hours ago</span>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>