<!-- Row -->
<app-chart-slider></app-chart-slider>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-8">
    <app-total-revenue></app-total-revenue>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-sales-prediction></app-sales-prediction>
      </div>
      <div class="col-12">
        <app-sales-difference></app-sales-difference>
      </div>
    </div>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-8">
    <app-total-visits></app-total-visits>
  </div>
  <div class="col-lg-4">
    <app-browser-stats></app-browser-stats>
  </div>
</div> 
<!-- Row -->


<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-0">
        <ng-scrollbar class="" style="height: 600px;">
          <app-fullcalendar></app-fullcalendar>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <app-recent-chat></app-recent-chat>
  </div>
  <div class="col-lg-6">
    <div class="card mailbox">
      <div class="card-body">
        <h4 class="card-title mb-0">Recent Messages</h4>
      </div>
      <ng-scrollbar class="message-center message-body" style="height: 545px;">
        <app-recent-message></app-recent-message>
      </ng-scrollbar>
    </div>
  </div>
</div>
<!-- Row -->