<div class="card">
    <div class="card-body">
        <div class="mt-4 text-center">
            <img src="assets/images/users/user10.jpg" alt="user" class="rounded-circle" width="150" />
            <h4 class="card-title mt-2">Hanna Gover</h4>
            <p class="card-subtitle my-2">
                Accoubts Manager Amix corp
            </p>
            <div class="row text-center justify-content-md-center">
                <div class="col-4">
                    <a href="javascript:void(0)" class="text-dark link-primary"><i class="ti ti-user"></i>
                        <span class="fw-medium ms-1">254</span></a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" class="text-dark link-primary"><i class="ti ti-image"></i>
                        <span class="fw-medium ms-1">54</span></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr />
    </div>
    <div class="card-body">
        <small class="text-muted">Email address </small>
        <h6 class="mb-4">hannagover&#64;gmail.com</h6>
        <small class="text-muted db">Phone</small>
        <h6 class="mb-4">+91 654 784 547</h6>
        <small class="text-muted db">Address</small>
        <h6 class="mb-4">
            71 Pilgrim Avenue Chevy Chase, MD 20815
        </h6>
        <div class="map-box mb-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                class="w-100" height="150" style="border: 0" allowfullscreen></iframe>
        </div>
        <small class="text-muted db mb-2 d-block">Social Profile</small>
        <div class="hstack gap-1">
            <button class="btn d-flex align-items-center justify-content-center fs-5 rounded-circle round btn-primary">
                <i class="fab fa-facebook"></i>
            </button>
            <button class="btn d-flex align-items-center justify-content-center fs-5 rounded-circle round btn-primary">
                <i class="fab fa-twitter"></i>
            </button>
            <button class="btn d-flex align-items-center justify-content-center fs-5 rounded-circle round btn-primary">
                <i class="fab fa-youtube"></i>
            </button>
        </div>
    </div>
</div>