<!-- Message -->
@for(mymessage of mymessages; track mymessage) {
<a href="javascript:void(0)" class="d-flex align-items-center border-bottom gap-3 p-3">
    <span class="user-img round-48 user-img position-relative d-block flex-shrink-0">
        <img src="{{mymessage.useravatar}}" alt="user" class="rounded-circle w-100">
        <span class="profile-status rounded-circle d-inline-block {{mymessage.status}} float-end"></span>
    </span>
    <span class="mail-contnet d-inline-block v-middle w-100">
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="message-title mb-1 lh-base">{{mymessage.from}}</h6>
            <span class="time fs-2 text-nowrap d-block text-body-color">{{mymessage.time}}</span>
        </div>
        <span class="mail-desc fs-2 d-block text-truncate text-body-color">{{mymessage.subject}}</span>
    </span>
</a>
}