<!-- Row -->
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="
                  bg-warning-subtle
                  text-warning
                  hstack justify-content-center
                  px-4
                  py-3
                  rounded
                  round-120
                ">
                        <i class="fab fa-google-drive fs-10"></i>
                    </div>
                    <div class="ms-auto">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn appearance" id="dropdownBasic1" ngbDropdownToggle>
                                <i class="ti ti-more-alt text-muted"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>New</button>
                                <button ngbDropdownItem>Folder</button>
                                <button ngbDropdownItem>Google Docs</button>
                                <button ngbDropdownItem>Google Sheets</button>
                                <button ngbDropdownItem>Google Slides</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-6">
                    <h4 class="card-title mb-0">Google Drive</h4>
                    <div class="progress bg-warning-subtle my-6 h-4">
                        <div class="progress-bar w-70 text-bg-warning" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center fs-3">
                        <span>13.1Gb</span>
                        <div class="ms-auto">
                            <span>15Gb</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="
                  bg-primary-subtle
                  text-primary
                  hstack justify-content-center
                  px-4
                  py-3
                  rounded
                  round-120
                ">
                        <i class="fab fa-dropbox fs-10"></i>
                    </div>
                    <div class="ms-auto">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn appearance" id="dropdownBasic2" ngbDropdownToggle>
                                <i class="ti ti-more-alt text-muted"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                <button ngbDropdownItem>New</button>
                                <button ngbDropdownItem>Folder</button>
                                <button ngbDropdownItem>Google Docs</button>
                                <button ngbDropdownItem>Google Sheets</button>
                                <button ngbDropdownItem>Google Slides</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-6">
                    <h4 class="card-title mb-0">Dropbox</h4>
                    <div class="progress bg-info-subtle my-6 h-4">
                        <div class="progress-bar w-40 text-bg-info" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center fs-3">
                        <span>7.5Gb</span>
                        <div class="ms-auto">
                            <span>15Gb</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="
                  bg-secondary-subtle
                  text-secondary
                  hstack justify-content-center
                  px-4
                  py-3
                  rounded
                  round-120
                ">
                        <i class="fab fa-soundcloud fs-10"></i>
                    </div>
                    <div class="ms-auto">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn appearance" id="dropdownBasic3" ngbDropdownToggle>
                                <i class="ti ti-more-alt text-muted"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                                <button ngbDropdownItem>New</button>
                                <button ngbDropdownItem>Folder</button>
                                <button ngbDropdownItem>Google Docs</button>
                                <button ngbDropdownItem>Google Sheets</button>
                                <button ngbDropdownItem>Google Slides</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-6">
                    <h4 class="card-title mb-0">One Drive</h4>
                    <div class="progress bg-secondary-subtle my-6 h-4">
                        <div class="progress-bar w-20 text-bg-secondary" role="progressbar" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center fs-3">
                        <span>2Gb</span>
                        <div class="ms-auto">
                            <span>15Gb</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="
                  bg-danger-subtle
                  text-danger
                  hstack justify-content-center
                  px-4
                  py-3
                  rounded
                  round-120
                ">
                        <i class="fab fa-amazon fs-10"></i>
                    </div>
                    <div class="ms-auto">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn appearance" id="dropdownBasic4" ngbDropdownToggle>
                                <i class="ti ti-more-alt text-muted"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
                                <button ngbDropdownItem>New</button>
                                <button ngbDropdownItem>Folder</button>
                                <button ngbDropdownItem>Google Docs</button>
                                <button ngbDropdownItem>Google Sheets</button>
                                <button ngbDropdownItem>Google Slides</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-6">
                    <h4 class="card-title mb-0">Amazon</h4>
                    <div class="progress bg-danger-subtle my-6 h-4">
                        <div class="progress-bar w-70 text-bg-danger" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex align-items-center fs-3">
                        <span>4Gb</span>
                        <div class="ms-auto">
                            <span>15Gb</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->