<div class="card">
    <div class="card-body">
        <h4 class="card-title">Today's Schedule</h4>
        <p class="card-subtitle">
            check out your daily schedule
        </p>
        <div class="steamline mt-4">
            <div class="sl-item pt-0">
                <div class="sl-left">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user3.jpg" />
                </div>
                <div class="sl-right">
                    <div class="hstack gap-2 mb-2">
                        <h6 class="mb-0">Daniel Kristeen</h6>
                        <span class="sl-date fs-3">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted fs-3 mb-0">Contrary to popular belief</div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left hstack justify-content-center">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user5.jpg">
                </div>
                <div class="sl-right">
                    <div class="hstack gap-2 mb-2">
                        <h6 class="mb-0">Hritik Roshan</h6>
                        <span class="sl-date fs-3">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted fs-3 mb-2">Lorem Ipsum is simply</div>
                    <ul class="list-unstyled hstack gap-6 mb-0">
                        <li class="rounded overflow-hidden"><img class="img-fluid" alt="blog"
                                src="assets/images/blog/blog-img1.jpg" /></li>
                        <li class="rounded overflow-hidden"><img class="img-fluid" alt="blog"
                                src="assets/images/blog/blog-img2.jpg" /></li>
                        <li class="rounded overflow-hidden"><img class="img-fluid" alt="blog"
                                src="assets/images/blog/blog-img3.jpg" /></li>
                    </ul>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left hstack justify-content-center">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user6.jpg">
                </div>
                <div class="sl-right">
                    <div class="hstack gap-2 mb-2">
                        <h6 class="mb-0">Gohn Doe</h6>
                        <span class="sl-date fs-3">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted fs-3 mb-0">Contrary to popular belief</div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left">
                    <img class="rounded-circle" alt="user" src="assets/images/users/user7.jpg" />
                </div>
                <div class="sl-right">
                    <div class="hstack gap-2 mb-2">
                        <h6 class="mb-0">Tiger Sroff</h6>
                        <span class="sl-date fs-3">5 minutes ago</span>
                    </div>
                    <div class="desc text-muted fs-3 mb-3">Approve meeting with tiger</div>
                    <div class="hstack gap-6">
                        <a href="javascript:void(0)" class="btn bg-success-subtle text-success btn-sm">Approve</a>
                        <a href="javascript:void(0)" class="btn bg-danger-subtle text-danger btn-sm">Refuse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>