<div class="card">
    <div class="card-body">
        <div class="d-md-flex no-block">
            <div>
                <h4 class="card-title">Sales Overview</h4>
                <p class="card-subtitle">Check the monthly sales</p>
            </div>
            <div class="ms-auto">
                <select class="form-select">
                    <option selected="">November</option>
                    <option value="1">February</option>
                    <option value="2">May</option>
                    <option value="3">April</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-body bg-primary-subtle">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-1 fw-medium">March 2024</h3>
                <p class="text-muted mb-0">
                    Report for this month
                </p>
            </div>
            <div class="
          col-md-6
          align-self-center
          fs-8
          fw-medium
          text-info text-start text-md-end
        ">
                $3,690
            </div>
        </div>
    </div>
    <div class="card-body pt-8">
        <div class="table-responsive">
            <table class="table mb-0 align-middle text-nowrap">
                <thead>
                    <tr>
                        <th class="fs-3 ps-0">#</th>
                        <th class="fs-3">Name</th>
                        <th class="fs-3">Status</th>
                        <th class="fs-3">Date</th>
                        <th class="fs-3 pe-0">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ps-0 fs-3 text-muted">1</td>
                        <td class="text-muted fs-3">Elite admin</td>
                        <td><span class="badge bg-success-subtle text-success rounded-pill">Sale</span>
                        </td>
                        <td class="text-muted fs-3">August 17, 2024</td>
                        <td class="pe-0">
                            <span class="text-success fw-medium fs-3">
                                $24</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-0 fs-3 text-muted">2</td>
                        <td class="text-muted fs-3">Real Homes Theme</td>
                        <td><span class="badge bg-info-subtle text-info rounded-pill">Extended</span>
                        </td>
                        <td class="text-muted fs-3">February 25, 2024</td>
                        <td class="pe-0">
                            <span class="text-info fw-medium fs-3">
                                $1250</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-0 fs-3 text-muted">3</td>
                        <td class="text-muted fs-3">Ample Admin</td>
                        <td><span class="badge bg-info-subtle text-info rounded-pill">Extended</span>
                        </td>
                        <td class="text-muted fs-3">June 11, 2024</td>
                        <td class="pe-0">
                            <span class="text-info fw-medium fs-3">
                                $750</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-0 fs-3 text-muted">4</td>
                        <td class="text-muted fs-3">Medical Pro WP</td>
                        <td><span class="badge bg-danger-subtle text-danger rounded-pill">Tax</span>
                        </td>
                        <td class="text-muted fs-3">April 1, 2024</td>
                        <td class="pe-0">
                            <span class="text-danger fw-medium fs-3">
                                -$14</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-0 fs-3 text-muted">5</td>
                        <td class="text-muted fs-3">HostingPress html</td>
                        <td><span class="badge bg-warning-subtle text-warning rounded-pill">Sale</span>
                        </td>
                        <td class="text-muted fs-3">July 22, 2024</td>
                        <td class="pe-0">
                            <span class="text-warning fw-medium fs-3">
                                $24</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>