<div class="card">
    <div class="card-body">
        <h4 class="card-title">Experiences</h4>
        <div class="table-responsive">
            <table class="table mb-0 mt-5 table-borderless no-wrap">
                <tbody>
                    <tr>
                        <td class="w90">
                            <img src="assets/images/browser/photoshop.jpg" alt="photoshop" />
                        </td>
                        <td class="w200">
                            <h4 class="card-title">Photoshop</h4>
                            <p class="card-subtitle">
                                This is a sample text
                            </p>
                        </td>
                        <td class="align-middle">
                            <div class="progress">
                                <div class="progress-bar text-bg-success" role="progressbar"
                                    style="width: 65%; height: 6px" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="w90">
                            <img src="assets/images/browser/sketch.jpg" alt="sketch" />
                        </td>
                        <td class="w200">
                            <h4 class="card-title">Sketch</h4>
                            <p class="card-subtitle">
                                This is a sample text
                            </p>
                        </td>
                        <td class="align-middle">
                            <div class="progress">
                                <div class="progress-bar text-bg-success" role="progressbar"
                                    style="width: 45%; height: 6px" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body border-top">
        <div class="row">
            <div class="col-6 col-md-4 text-center">
                <h2>5486</h2>
                <h6 class="text-muted fw-normal">Projects</h6>
            </div>
            <div class="col-6 col-md-4 text-center">
                <h2>987</h2>
                <h6 class="text-muted text-truncate fw-normal">
                    Winning Entries
                </h6>
            </div>
            <div class="col-md-4 align-self-center text-center">
                <button type="button" class="btn btn-success d-block w-100">
                    Hire me
                </button>
            </div>
        </div>
    </div>
</div>