<div class="card text-bg-secondary">
    <div class="card-body">
        <h5 class="text-white fw-normal">Pending Tasks</h5>
    </div>
    <apx-chart [series]="pendingtasksChartOptions.series" [chart]="pendingtasksChartOptions.chart"
        [xaxis]="pendingtasksChartOptions.xaxis" [yaxis]="pendingtasksChartOptions.yaxis"
        [grid]="pendingtasksChartOptions.grid" [stroke]="pendingtasksChartOptions.stroke"
        [tooltip]="pendingtasksChartOptions.tooltip" [fill]="pendingtasksChartOptions.fill"
        [dataLabels]="pendingtasksChartOptions.dataLabels" [legend]="pendingtasksChartOptions.legend"
        [colors]="pendingtasksChartOptions.colors" [markers]="pendingtasksChartOptions.markers"
        [plotOptions]="pendingtasksChartOptions.plotOptions" [states]="pendingtasksChartOptions.states">
    </apx-chart>
    <div class="card-body">
        <h5 class="fs-6 text-white mb-1">18 Days</h5>
        <h6 class="text-white fw-medium mb-0">Time to finish</h6>
    </div>
</div>