<div class="card text-bg-success">
    <div class="card-body">
        <h5 class="text-white fw-normal">Total Profit</h5>
    </div>
    <apx-chart [series]="totalprofitChartOptions.series" [chart]="totalprofitChartOptions.chart"
        [xaxis]="totalprofitChartOptions.xaxis" [yaxis]="totalprofitChartOptions.yaxis"
        [grid]="totalprofitChartOptions.grid" [stroke]="totalprofitChartOptions.stroke"
        [tooltip]="totalprofitChartOptions.tooltip" [fill]="totalprofitChartOptions.fill"
        [dataLabels]="totalprofitChartOptions.dataLabels" [legend]="totalprofitChartOptions.legend"
        [colors]="totalprofitChartOptions.colors" [markers]="totalprofitChartOptions.markers"
        [plotOptions]="totalprofitChartOptions.plotOptions" [states]="totalprofitChartOptions.states">
    </apx-chart>
    <div class="card-body">
        <h5 class="fs-6 text-white mb-1">43.16%</h5>
        <h6 class="text-white fw-medium mb-0">Avg. Commission</h6>
    </div>
</div>