<div class="card">
    <div class="card-body pb-8">
        <h4 class="card-title">Members Activity</h4>
        <p class="card-subtitle">
            what members preformance status
        </p>
    </div>
    <div class="table-responsive">
        <table class="table stylish-table mb-0 align-middle text-nowrap">
            <thead>
                <tr>
                    <th class="border-bottom fs-3 ps-4">
                        Member
                    </th>
                    <th class="border-bottom fs-3">Earnings</th>
                    <th class="border-bottom fs-3">Posts</th>
                    <th class="border-bottom fs-3 pe-4">Team</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ps-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="assets/images/users/user6.jpg" alt="user" width="48" />
                            <div class="ms-6">
                                <h6 class="mb-1 fw-medium fs-4">Kevin Peter</h6>
                                <span class="
                    badge
                    bg-success-subtle
                    text-success
                    rounded-pill
                  ">Designer</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-muted">$325.00</td>
                    <td class="text-muted">48</td>
                    <td class="pe-4">
                        <div class="
                d-flex
                align-items-center
                button-group
              ">
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-success-subtle
                  text-success
                  d-flex
                  align-items-center
                  justify-content-center
                ">A</a>
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-danger-subtle
                  text-danger
                  d-flex
                  align-items-center
                  justify-content-center ms-n3
                ">T</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="ps-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="assets/images/users/user5.jpg" alt="user" width="48" />
                            <div class="ms-6">
                                <h6 class="mb-1 fw-medium fs-4">John Smith</h6>
                                <span class="
                    badge
                    bg-danger-subtle
                    text-danger
                    rounded-pill
                  ">Developer</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-muted">$225</td>
                    <td class="text-muted ">48</td>
                    <td class="pe-4">
                        <div class="
                d-flex
                align-items-center
                button-group
              ">
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-warning-subtle
                  text-warning
                  d-flex
                  align-items-center
                  justify-content-center
                ">S</a>
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-secondary-subtle
                  text-secondary
                  d-flex
                  align-items-center
                  justify-content-center ms-n3
                ">V</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="ps-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="assets/images/users/user3.jpg" alt="user" width="48" />
                            <div class="ms-6">
                                <h6 class="mb-1 fw-medium fs-4">Harry Peter</h6>
                                <span class="
                    badge
                    bg-info-subtle
                    text-info
                    rounded-pill
                  ">Manager</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-muted">$185</td>
                    <td class="text-muted ">48</td>
                    <td class="pe-4">
                        <div class="
                d-flex
                align-items-center
                button-group
              ">
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-success-subtle
                  text-success
                  d-flex
                  align-items-center
                  justify-content-center
                ">B</a>
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-info-subtle
                  text-info
                  d-flex
                  align-items-center
                  justify-content-center ms-n3
                ">M</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="ps-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="assets/images/users/user8.jpg" alt="user" width="48" />
                            <div class="ms-6">
                                <h6 class="mb-1 fw-medium fs-4">James Deo</h6>
                                <span class="
                    badge
                    bg-secondary-subtle
                    text-secondary
                    rounded-pill
                  ">Designer</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-muted">$125</td>
                    <td class="text-muted ">48</td>
                    <td class="pe-4">
                        <div class="
                d-flex
                align-items-center
                button-group
              ">
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-secondary-subtle
                  text-secondary
                  d-flex
                  align-items-center
                  justify-content-center
                ">K</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="ps-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="assets/images/users/user5.jpg" alt="user" width="48" />
                            <div class="ms-6">
                                <h6 class="mb-1 fw-medium fs-4">Willium Deo</h6>
                                <span class="
                    badge
                    bg-danger-subtle
                    text-danger
                    rounded-pill
                  ">UX/UI Designer</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-muted">$225</td>
                    <td class="text-muted ">48</td>
                    <td class="pe-4">
                        <div class="
                d-flex
                align-items-center
                button-group
              ">
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-danger-subtle
                  text-danger
                  d-flex
                  align-items-center
                  justify-content-center
                ">L</a>
                            <a href="javascript:void(0)" class="
                  btn round-32 rounded-circle btn-sm bg-info-subtle
                  text-info
                  d-flex
                  align-items-center
                  justify-content-center ms-n3
                ">J</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center py-6">
            <button class="btn btn-success fs-3 py-2">Show More</button>
        </div>
    </div>
</div>