<div class="card">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-6 col-lg-6 col-xl-7">
                <h4 class="card-title mb-7">Sales Difference</h4>
                <div>
                    <h2 class="fs-9 fw-light">$4316</h2>
                    <h6 class="text-muted fw-normal">(150-165 Sales)</h6>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-xl-5">
                <apx-chart [series]="SalesdifferenceChartOptions.series" [chart]="SalesdifferenceChartOptions.chart"
                    [plotOptions]="SalesdifferenceChartOptions.plotOptions"
                    [labels]="SalesdifferenceChartOptions.labels" [fill]="SalesdifferenceChartOptions.fill"
                    [stroke]="SalesdifferenceChartOptions.stroke" [dataLabels]="SalesdifferenceChartOptions.dataLabels"
                    [colors]="SalesdifferenceChartOptions.colors" [tooltip]="SalesdifferenceChartOptions.tooltip"
                    [legend]="SalesdifferenceChartOptions.legend">
                </apx-chart>
            </div>
        </div>
    </div>
</div>