<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card bg-box position-relative text-bg-primary">
            <div class="card-body text-center">
                <h2 class="fw-medium fs-8 text-white">2,064</h2>
                <h6 class="text-white mb-0 fw-medium">Sessions</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card bg-box position-relative text-bg-secondary">
            <div class="card-body text-center">
                <h2 class="fw-medium fs-8 text-white">1,738</h2>
                <h6 class="text-white mb-0 fw-medium">Users</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card bg-box position-relative text-bg-success">
            <div class="card-body text-center">
                <h2 class="fw-medium fs-8 text-white">5963</h2>
                <h6 class="text-white mb-0 fw-medium">Page Views</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card bg-box position-relative text-bg-warning">
            <div class="card-body text-center">
                <h2 class="fw-medium fs-8 text-white">10%</h2>
                <h6 class="text-white mb-0 fw-medium">Bounce Rate</h6>
            </div>
        </div>
    </div>
</div>