<div class="card text-bg-primary">
    <div class="card-body">
        <h5 class="text-white fw-normal">Income</h5>
    </div>
    <apx-chart [series]="totalprofittwoChartOptions.series" [chart]="totalprofittwoChartOptions.chart"
        [xaxis]="totalprofittwoChartOptions.xaxis" [yaxis]="totalprofittwoChartOptions.yaxis"
        [grid]="totalprofittwoChartOptions.grid" [stroke]="totalprofittwoChartOptions.stroke"
        [tooltip]="totalprofittwoChartOptions.tooltip" [fill]="totalprofittwoChartOptions.fill"
        [dataLabels]="totalprofittwoChartOptions.dataLabels" [legend]="totalprofittwoChartOptions.legend"
        [colors]="totalprofittwoChartOptions.colors" [markers]="totalprofittwoChartOptions.markers"
        [plotOptions]="totalprofittwoChartOptions.plotOptions" [states]="totalprofittwoChartOptions.states">
    </apx-chart>
    <div class="card-body">
        <h5 class="fs-6 text-white mb-1">24.3K</h5>
        <h6 class="text-white fw-medium mb-0">New Candidates</h6>
    </div>
</div>