<div class="card profile-card">
    <img class="card-img profile-img" src="assets/images/background/socialbg.jpg" alt="Card image" />
    <div class="card-img-overlay card-inverse social-profile text-center d-flex">
        <div class="align-self-center">
            <img src="assets/images/users/user1.jpg" alt="user" class="rounded-circle" width="100" />
            <h4 class="card-title text-white mt-4 mb-1">
                Markarn lakhan4
            </h4>
            <p class="card-subtitle text-white opacity-50">
                &#64;jamesandre
            </p>
            <p class="text-white mt-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt
            </p>
        </div>
    </div>
</div>