<div class="card">
    <div class="card-body">
        <!-- Row -->
        <div class="row align-items-center">
            <div class="col-6">
                <h2 class="fw-light fs-9">86</h2>
                <h6 class="text-muted mb-0">New Clients</h6>
            </div>
            <div class="col-6 text-end align-self-center">
                <apx-chart [series]="newclientChartOptions.series" [chart]="newclientChartOptions.chart"
                    [plotOptions]="newclientChartOptions.plotOptions" [labels]="newclientChartOptions.labels"
                    [fill]="newclientChartOptions.fill" [stroke]="newclientChartOptions.stroke"
                    [dataLabels]="newclientChartOptions.dataLabels" [colors]="newclientChartOptions.colors"
                    [tooltip]="newclientChartOptions.tooltip" [legend]="newclientChartOptions.legend" [grid]="newclientChartOptions.grid">
                </apx-chart>
            </div>
        </div>
    </div>
</div>