<div class="card uncover-exciting-enhancements">
    <div class="card-body position-relative z-1 row p-7 py-5">
        <div class="col-xl-7 col-xxl-6">
            <p class="mb-6 text-uppercase fs-3 fw-medium text-muted">Uncover Exciting
                Enhancements</p>
            <h2 class="mb-6 lh-sm pb-1">Better user experience.
            </h2>
            <h6 class="fw-normal">Find additional information in our most recent blog entry.
            </h6>
            <div class="hstack gap-9 mt-7 mb-5 pb-1">
                <div class="hstack gap-2">
                    <div class="round-36 bg-white rounded-circle hstack justify-content-center">
                        <i class="ti ti-user fs-4 text-success"></i>
                    </div>
                    <div>
                        <p class="mb-0 fs-2">Team</p>
                        <h6 class="mb-0 fs-2">Up to 240</h6>
                    </div>
                </div>
                <div class="hstack gap-2">
                    <div class="round-36 bg-white rounded-circle hstack justify-content-center">
                        <i class="ti ti-infinite fs-5 text-primary"></i>
                    </div>
                    <div>
                        <p class="mb-0 fs-2">Progress</p>
                        <h6 class="mb-0 fs-2">Almost 85%</h6>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary fs-3 py-2 fs-3 py-2">Discover updates</a>
        </div>
    </div>
</div>