<div class="card">
    <div class="card-body pb-0">
        <div class="d-md-flex align-items-center mb-4">
            <div>
                <h4 class="card-title">Total Revenue</h4>
            </div>
            <div class="ms-auto">

                <ul class="list-unstyled mb-0 hstack gap-3">
                    <li>
                        <h6 class="text-muted mb-0 hstack gap-2 fw-medium">
                            <span class="text-bg-success round-10 rounded-circle"></span>2023
                        </h6>
                    </li>
                    <li>
                        <h6 class="text-muted mb-0 hstack gap-2 fw-medium">
                            <span class="text-bg-info round-10 rounded-circle"></span>2024
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mx-n2">
            <apx-chart [series]="totalrevenuetwoChartOptions.series" [chart]="totalrevenuetwoChartOptions.chart"
                [xaxis]="totalrevenuetwoChartOptions.xaxis" [yaxis]="totalrevenuetwoChartOptions.yaxis"
                [grid]="totalrevenuetwoChartOptions.grid" [stroke]="totalrevenuetwoChartOptions.stroke"
                [tooltip]="totalrevenuetwoChartOptions.tooltip" [fill]="totalrevenuetwoChartOptions.fill"
                [dataLabels]="totalrevenuetwoChartOptions.dataLabels" [legend]="totalrevenuetwoChartOptions.legend"
                [colors]="totalrevenuetwoChartOptions.colors" [markers]="totalrevenuetwoChartOptions.markers"
                [plotOptions]="totalrevenuetwoChartOptions.plotOptions" [states]="totalrevenuetwoChartOptions.states">
            </apx-chart>
        </div>
    </div>
</div>