<!-- Row -->
<div class="row">
  <div class="col-12">
    <app-android-ios></app-android-ios>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <div class="card text-bg-primary">
      <div class="card-body">
        <div class="d-flex">
          <div class="me-3 align-self-center">
            <h1 class="text-white">
              <i class="ti ti-pie-chart"></i>
            </h1>
          </div>
          <div>
            <h3 class="text-white">Bandwidth usage</h3>
            <h6 class="text-white">March 2024</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-xl-7 align-self-center">
            <h4 class="fs-8 text-white text-truncate">50 GB</h4>
          </div>
          <div class="col-7 col-xl-5 align-self-center">
            <app-weather-chart></app-weather-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card text-bg-danger">
      <div class="card-body">
        <div class="d-flex">
          <div class="me-3 align-self-center">
            <h1 class="text-white">
              <i class="ti ti-cloud-down"></i>
            </h1>
          </div>
          <div>
            <h3 class="text-white">Download count</h3>
            <h6 class="text-white">March 2024</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-xl-7 align-self-center">
            <h4 class="fs-8 text-white text-truncate">35487</h4>
          </div>
          <div class="col-7 col-xl-5 text-end">
            <app-weather-chart></app-weather-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <div class="card mailbox">
      <div class="card-body border-bottom">
        <h4 class="card-title mb-0">Notification</h4>
      </div>
      <app-notification></app-notification>
    </div>
  </div>
  <div class="col-lg-6">
    <app-visit-source></app-visit-source>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <app-download-count></app-download-count>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <app-reviews></app-reviews>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <app-products-availability></app-products-availability>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-4">
    <app-profile-card></app-profile-card>
  </div>
  <div class="col-lg-8">
    <app-experiences></app-experiences>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-4">
    <app-profile-info></app-profile-info>
  </div>
  <div class="col-lg-8">
    <app-general-profile></app-general-profile>
  </div>
</div>
<!-- Row -->