<apx-chart [series]="weatherchartChartOptions.series" [chart]="weatherchartChartOptions.chart"
    [xaxis]="weatherchartChartOptions.xaxis" [yaxis]="weatherchartChartOptions.yaxis"
    [grid]="weatherchartChartOptions.grid" [stroke]="weatherchartChartOptions.stroke"
    [tooltip]="weatherchartChartOptions.tooltip" [fill]="weatherchartChartOptions.fill"
    [dataLabels]="weatherchartChartOptions.dataLabels" [legend]="weatherchartChartOptions.legend"
    [colors]="weatherchartChartOptions.colors" [markers]="weatherchartChartOptions.markers"
    [plotOptions]="weatherchartChartOptions.plotOptions" [states]="weatherchartChartOptions.states">
</apx-chart>