<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Products Availability</h4>
                <p class="card-subtitle">March 2024</p>
            </div>
            <div class="ms-auto">
                <select class="form-select">
                    <option selected="">Electronics</option>
                    <option value="1">Kitchen</option>
                    <option value="2">Crocory</option>
                    <option value="3">Wooden</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table stylish-table no-wrap v-middle">
                <thead>
                    <tr>
                        <th class="fw-normal text-muted border-0 border-bottom w90">
                            Product
                        </th>
                        <th class="fw-normal text-muted border-0 border-bottom">
                            Description
                        </th>
                        <th class="fw-normal text-muted border-0 border-bottom">
                            Quantity
                        </th>
                        <th class="fw-normal text-muted border-0 border-bottom">
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="round rounded-circle hstack justify-content-center text-bg-info"><i
                                    class="ti ti-shopping-cart fs-6"></i></span>
                        </td>
                        <td>
                            <h6 class="fw-medium mb-0 nowrap">
                                <a href="javascript:void(0)" class="link">Apple iPhone 6
                                    Space Grey, 16 GB</a>
                            </h6>
                            <small class="text-muted no-wrap">Product id : MI5457
                            </small>
                        </td>
                        <td>
                            <h5>357</h5>
                        </td>
                        <td>
                            <h5>$435</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="round rounded-circle hstack justify-content-center text-bg-success"><i
                                    class="ti ti-shopping-cart fs-6"></i></span>
                        </td>
                        <td>
                            <h6 class="fw-medium mb-0 nowrap">
                                <a href="javascript:void(0)" class="link">Fossil Marshall
                                    For Men Black Smartwatch</a>
                            </h6>
                            <small class="text-muted no-wrap">Product id : MI5457
                            </small>
                        </td>
                        <td>
                            <h5>357</h5>
                        </td>
                        <td>
                            <h5>$435</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="round rounded-circle hstack justify-content-center text-bg-danger"><i
                                    class="ti ti-shopping-cart fs-6"></i></span>
                        </td>
                        <td>
                            <h6 class="fw-medium mb-0 nowrap">
                                <a href="javascript:void(0)" class="link">Sony Bravia 80cm -
                                    32 HD Ready LED TV</a>
                            </h6>
                            <small class="text-muted no-wrap">Product id : MI5457
                            </small>
                        </td>
                        <td>
                            <h5>357</h5>
                        </td>
                        <td>
                            <h5>$435</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="round rounded-circle hstack justify-content-center text-bg-primary"><i
                                    class="ti ti-shopping-cart fs-6"></i></span>
                        </td>
                        <td>
                            <h6 class="fw-medium mb-0 nowrap">
                                <a href="javascript:void(0)" class="link">Panasonic P75
                                    Champagne Gold, 8 GB</a>
                            </h6>
                            <small class="text-muted no-wrap">Product id : MI5457
                            </small>
                        </td>
                        <td>
                            <h5>357</h5>
                        </td>
                        <td>
                            <h5>$435</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>