<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <app-total-revenue-two></app-total-revenue-two>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-sm-6">
        <app-new-clients></app-new-clients>
      </div>
      <div class="col-sm-6">
        <app-all-projects></app-all-projects>
      </div>
      <div class="col-sm-6">
        <app-new-items></app-new-items>
      </div>
      <div class="col-sm-6">
        <app-new-invoices></app-new-invoices>
      </div>
    </div>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <app-sales-of-the-month></app-sales-of-the-month>
  </div>
  <div class="col-lg-6">
    <app-income-of-the-year></app-income-of-the-year>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-8">
    <app-proect-of-month></app-proect-of-month>
  </div>
  <div class="col-lg-4">
    <app-weather-report></app-weather-report>
  </div>
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-6">
    <app-recent-comment></app-recent-comment>
  </div>
  <div class="col-lg-6">
    <app-to-do></app-to-do>
  </div>
</div>
<!-- Row -->