<div class="card">
    <div class="row">
        <!-- Column -->
        <div class="col-lg-5 col-md-6">
            <div class="card-body">
                <h4 class="card-title mb-4">Reviews</h4>
                <span class="mt-5 display-6">31560</span>
                <p class="card-subtitle mb-4">
                    April the product got 234 reviews
                </p>
                <a href="javascript:void(0)" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Sophia"><img src="assets/images/users/user5.jpg" alt="user"
                        class="rounded-circle" width="50" /></a>
                <a href="javascript:void(0)" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Emma"><img src="assets/images/users/user2.jpg" alt="user" class="rounded-circle"
                        width="50" /></a>
                <a href="javascript:void(0)" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Isabella"><img src="assets/images/users/user3.jpg" alt="user"
                        class="rounded-circle" width="50" /></a>
                <a href="javascript:void(0)" class="me-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Olivia"><img src="assets/images/users/user4.jpg" alt="user"
                        class="rounded-circle mt-3 mt-md-0" width="50" /></a>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-success mt-5">
                    Read reviews
                </button>
            </div>
        </div>
        <!-- Column -->
        <div class="col-lg-7 col-md-6 border-start pl-0">
            <ul class="product-review list-inline p-4">
                <li class="py-3">
                    <div class="d-flex align-items-center">
                        <span class="text-muted display-5"><i class="ti ti-face-smile"></i></span>
                        <div class="dl ms-2">
                            <h4 class="card-title">Positive Reviews</h4>
                            <p class="card-subtitle">25547 Reviews</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar text-bg-success" role="progressbar" style="width: 65%; height: 6px"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="py-3">
                    <div class="d-flex align-items-center">
                        <span class="text-muted display-5"><i class="ti ti-face-sad"></i></span>
                        <div class="dl ms-2">
                            <h4 class="card-title text-nowrap">
                                Negative Reviews
                            </h4>
                            <p class="card-subtitle">5478 Reviews</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar text-bg-danger" role="progressbar" style="width: 15%; height: 6px"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="py-3">
                    <div class="d-flex align-items-center">
                        <span class="text-muted display-5"><i class="ti ti-themify-favicon"></i></span>
                        <div class="dl ms-2">
                            <h4 class="card-title">Neutral Reviews</h4>
                            <p class="card-subtitle">457 Reviews</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar text-bg-primary" role="progressbar" style="width: 35%; height: 6px"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Column -->
    </div>
</div>